swagger: "2.0"
info:
  title: Open Banking API
  description: |-
    More than 14,000,000 customers use Revolut to manage their personal or business finances. Each customer is different and Revolut is on a mission to become the financial super-app that meets their unique needs. This is where you come in.

    Join the 1000+ developers who have already built applications using the Revolut APIs.

    To get started with our Open Banking API, please see our quickstart guide [here](https://developer.revolut.com/docs/open-banking-api/#quickstart).
  contact:
    name: Service Desk
    email: api-requests@revolut.com
  version: v3.1.0
schemes:
  - https
host: oba.revolut.com
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
paths:
  /account-access-consents:
    post:
      summary: Create Account Access Consents
      operationId: CreateAccountAccessConsents
      parameters:
        - $ref: "#/parameters/OBReadConsent1Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201AccountAccessConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      tags:
        - Account and Transactions
      description: |
        Before access any data you will need to create an access consent to read data from the users profile.

        To ensure that you don't recieve a `400` error make sure you **do not send an empty array** or an array that doesn't follow the rules of the permissions table below:

        **Request Permissions**

        | PERMISSIONS | DEPENDENCIES |
        |--|--|
        | ReadAccountsBasic | None |
        | ReadAccountsDetail |None|
        | ReadBalances |None|
        | ReadBeneficiariesBasic |None|
        | ReadBeneficiariesDetail |None|
        | ReadDirectDebits |None|
        | ReadScheduledPaymentsBasic |None|
        | ReadScheduledPaymentsDetail |None|
        | ReadStandingOrdersBasic |None|
        | ReadStandingOrdersDetail |None|
        | ReadTransactionsBasic |None|
        | ReadTransactionsCredits |ReadTransactionsBasic OR ReadTransactionsDetail|
        |ReadTransactionsDebits |ReadTransactionsBasic OR ReadTransactionsDetail|
        | ReadTransactionsDetail | None |
  "/account-access-consents/{ConsentId}":
    get:
      tags:
        - Account and Transactions
      summary: Get Account Access Consents
      operationId: GetAccountAccessConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountAccessConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
    delete:
      tags:
        - Account and Transactions
      summary: Delete Account Access Consents
      operationId: DeleteAccountAccessConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "204":
          $ref: "#/responses/204AccountAccessConsentsConsentIdDeleted"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |-
        This endpoint:

        - Rejects consent if a consent is in a `AwaitingAuthorisation` state or any error occurs during consent authorization.
        - Revokes consent if consent is in a `Authorised` state.
  /accounts:
    get:
      tags:
        - Account and Transactions
      summary: Get List of Accounts
      operationId: GetAccounts
      parameters:
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns a list of the user accounts.
  "/accounts/{AccountId}":
    get:
      tags:
        - Account and Transactions
      summary: Get Account
      operationId: GetAccountsAccountId
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint retrieves individual account details.
  "/accounts/{AccountId}/balances":
    get:
      tags:
        - Account and Transactions
      summary: Get Balances
      operationId: GetAccountsAccountIdBalances
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdBalancesRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint retrieves balances for an account.
  "/accounts/{AccountId}/beneficiaries":
    get:
      tags:
        - Account and Transactions
      summary: Get Beneficiaries
      operationId: GetAccountsAccountIdBeneficiaries
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdBeneficiariesRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns the list of beneficiaries for a specific user account.
  "/accounts/{AccountId}/direct-debits":
    get:
      tags:
        - Account and Transactions
      summary: Get Direct Debits
      operationId: GetAccountsAccountIdDirectDebits
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdDirectDebitsRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns the list of direct debits for a specific user account.
  "/accounts/{AccountId}/standing-orders":
    get:
      tags:
        - Account and Transactions
      summary: Get Standing Orders
      operationId: GetAccountsAccountIdStandingOrders
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdStandingOrdersRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns the list of standing orders for a specific user account.
  "/accounts/{AccountId}/transactions":
    get:
      tags:
        - Account and Transactions
      summary: Get Transactions
      operationId: GetAccountsAccountIdTransactions
      parameters:
        - $ref: "#/parameters/AccountId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/FromBookingDateTimeParam"
        - $ref: "#/parameters/ToBookingDateTimeParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200AccountsAccountIdTransactionsRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint retrieves the recent transactions for an account.

        >In order to ensure compliance with PSD2 SCA regulations, we only allow access to the last 90 days’ transaction history. However, you will be able to access older transactions within the first 5 minutes of an account access token being authorised. This means that within the first 5 minutes of acquiring the access token, you will be able to request data older than 90 days. After the 5 minute mark, access will be automatically restricted to the last 90 days worth of data.
  /domestic-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Payment Consents
      operationId: CreateDomesticPaymentConsents
      parameters:
        - $ref: "#/parameters/OBWriteDomesticConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticPaymentConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating payment consent as described in Open Banking API documentation. Domestic payments are used for local payments in the local currency of the user. Revolut supports only GBP as local in the UK and EUR in Single Euro Payments Area (SEPA) countries.

        Since Revolut Business users can have multiple accounts in the same currency, we allow them to choose which account they want to be charged in the consent authorization UI.

        As part of the API requirement you must pass `x-jws-signature` header in your request. The signature must be generated from the request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        >Unfortunately, we cannot support the EndToEndIdentification field as it is described in the documentation. We will update the [documentation](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/1000702294/Read+Write+Data+API+Specification+-+v3.1.1) once we get support for it.
  "/domestic-payment-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Payment Consents
      operationId: GetDomesticPaymentConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  "/domestic-payment-consents/{ConsentId}/funds-confirmation":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Payment Consents Funds Confirmation
      operationId: GetDomesticPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint allows for the checking of funds with the given consent. This endpoint returns successful only if the user has authorized the related consent.
  /domestic-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Payments
      operationId: CreateDomesticPayments
      parameters:
        - $ref: "#/parameters/OBWriteDomestic2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticPaymentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/domestic-payments/{DomesticPaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Payments
      operationId: GetDomesticPaymentsDomesticPaymentId
      parameters:
        - $ref: "#/parameters/DomesticPaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticPaymentsDomesticPaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns state of a payment.
  /domestic-scheduled-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Scheduled Payment Consents
      operationId: CreateDomesticScheduledPaymentConsents
      parameters:
        - $ref: "#/parameters/OBWriteDomesticScheduledConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticScheduledPaymentConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating scheduled payment consent as described in Open Banking API documentation. Domestic Scheduled Payments are used for local scheduled payments in the local currency of the user. Revolut supports only GBP as local in the UK and EUR in SEPA countries.

        Since Revolut Business users can have multiple accounts in the same currency, we allow them to choose which account they want to be charged in the consent authorization UI.

        As part of the API requirement, you must pass the `x-jws-signature` header in your request. The signature must be generated from a request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        >Domestic scheduled payments API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.
  "/domestic-scheduled-payment-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Scheduled Payment Consents
      operationId: GetDomesticScheduledPaymentConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticScheduledPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  /domestic-scheduled-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Scheduled Payments
      operationId: CreateDomesticScheduledPayments
      parameters:
        - $ref: "#/parameters/OBWriteDomesticScheduled2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticScheduledPaymentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/domestic-scheduled-payments/{DomesticScheduledPaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Scheduled Payments
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
      parameters:
        - $ref: "#/parameters/DomesticScheduledPaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns state of a domestic scheduled payment.
  /domestic-standing-order-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Standing Order Consents
      operationId: CreateDomesticStandingOrderConsents
      parameters:
        - $ref: "#/parameters/OBWriteDomesticStandingOrderConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticStandingOrderConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |-
        This endpoint is for creating standing order consent as described in Open Banking API documentation. Domestic Standing Orders are used for local recurring payments in the local currency of the user. Revolut supports only GBP as local in the UK and EUR in SEPA countries.

        Since Revolut Business users can have multiple accounts in the same currency, we allow them to choose which account they want to be charged in the consent authorization UI.

        As part of the API requirement you must pass the `x-jws-signature` header in your request. The signature must be generated from request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        We support only the following types of standing orders frequency:

        |  FREQUENCY |  EXAMPLE | DETAILS  |
        |---|---|---|
        |  EvryDay | EvryDay  | daily, supported only for personal accounts  |
        | IntrvlWkDay  | IntrvlWkDay:01:03  | weekly on a specified week day, only 1 week intervals are supported  |
        | IntrvlWkDay  | IntrvlMnthDay:01:03  |  monthly on a specified day of month, only 1 month intervals are supported |


        >Standing orders API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.
  "/domestic-standing-order-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Standing Order Consents
      operationId: GetDomesticStandingOrderConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticStandingOrderConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  /domestic-standing-orders:
    post:
      tags:
        - Payment Initiation
      summary: Create Domestic Standing Orders
      operationId: CreateDomesticStandingOrders
      parameters:
        - $ref: "#/parameters/OBWriteDomesticStandingOrder2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201DomesticStandingOrdersCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/domestic-standing-orders/{DomesticStandingOrderId}":
    get:
      tags:
        - Payment Initiation
      summary: Get Domestic Standing Orders
      operationId: GetDomesticStandingOrdersDomesticStandingOrderId
      parameters:
        - $ref: "#/parameters/DomesticStandingOrderId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns state of a standing order.
  /file-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create File Payment Consents
      operationId: CreateFilePaymentConsents
      parameters:
        - $ref: "#/parameters/OBWriteFileConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201FilePaymentConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating file payment consent as described in Open Banking API documentation.

        File Payments is available only for Revolut Business users.

        Currently only `text/csv` file type is supported for File Payments.

        As part of the API requirement, you must pass the `x-jws-signature` header in your request. The signature must be generated from a request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        >File payments API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.
  "/file-payment-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get File Payment Consents
      operationId: GetFilePaymentConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200FilePaymentConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  "/file-payment-consents/{ConsentId}/file":
    post:
      tags:
        - Payment Initiation
      summary: Create File Payment Consents
      operationId: CreateFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: "#/parameters/FileParam"
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      consumes:
        - "*/*"
      responses:
        "200":
          $ref: "#/responses/200FilePaymentConsentsConsentIdFileCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        "This endpoint allows to upload a file for given file payment consent as described in Open Banking API documentation.

        Only CSV files with structure as in the example are supported (whitespaces are only for display purposes).

        | FIELD | REQUIRED | DESCRIPTION |
        |---|---|---|
        |Name|Yes| Can contain up to 80 characters. If INDIVIDUAL recipient type is provided this field must contain first and last name separated by white space|
        |Recipient type |Yes| Can be either INDIVIDUAL or COMPANY
        |Account number |For UK transfers| Must contain valid account number if provided|
        |Sort code or Routing number| For UK transfers| Must contain valid sort code or routing number if provided|
        |IBAN |For SEPA transfers| Must contain valid IBAN if provided|
        |BIC |For SEPA transfers| Must contain valid BIC if provided|
        |Recipient bank country |Yes| Must contain valid ISO 3166-1 country code|
        |Currency| Yes |Must contain valid ISO 4217 currency code|
        |Amount |Yes| Must match following pattern [0-9]*(\\\\.[0-9]*)?|
        |Payment reference |Yes| Can contain up to 100 characters|
        |Recipient country |No |Must contain valid ISO 3166-1 country code if provided|
        |State or province| No| Can contain up to 50 characters|
        |Address line 1 |No| Can contain up to 50 characters|
        |Address line 2| No |Can contain up to 50 characters|
        |City |No| Can contain up to 50 characters|
        |Postal code |No| Can contain up to 50 characters|
    get:
      tags:
        - Payment Initiation
      summary: Get File Payment Consents
      operationId: GetFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      produces:
        - "*/*"
      responses:
        "200":
          $ref: "#/responses/200FilePaymentConsentsConsentIdFileRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns file uploaded for given consent as it is described in the official documentation.
  /file-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create File Payments
      operationId: CreateFilePayments
      parameters:
        - $ref: "#/parameters/OBWriteFile2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201FilePaymentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` section of the request must be an exact match for the related consent passed in `ConsentId.`
  "/file-payments/{FilePaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get File Payments
      operationId: GetFilePaymentsFilePaymentId
      parameters:
        - $ref: "#/parameters/FilePaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200FilePaymentsFilePaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: This endpoint returns state of a file payment.
  "/file-payments/{FilePaymentId}/report-file":
    get:
      tags:
        - Payment Initiation
      summary: Get File Payments
      operationId: GetFilePaymentsFilePaymentIdReportFile
      parameters:
        - $ref: "#/parameters/FilePaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      produces:
        - "*/*"
      responses:
        "200":
          $ref: "#/responses/200FilePaymentsFilePaymentIdReportFileRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns state of all payments for given file payment. Currently only JSON format is supported.
  /international-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create International Payment Consents
      operationId: CreateInternationalPaymentConsents
      parameters:
        - $ref: "#/parameters/OBWriteInternationalConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalPaymentConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating payment consent as described in Open Banking API documentation. International Payments are used for international SWIFT payments in all currencies supported by Revolut.

        Only payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. However, we allow users to change which account they want to be charged in consent authorization UI. Even if it is in a different currency. In such a case, the response field ExchangeRateInformation will contain information about the fx rate between source account currency and CurrencyOfTransfer. In case the user doesn't have enough funds on the selected account, the consent authorisation will be rejected.

        As part of the API requirement, you must pass the `x-jws-signature` header in your request. The signature must be generated from a request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        >Unfortunately, we cannot support the **EndToEndIdentification** field as it is described in the [documentation](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/1000702294/Read+Write+Data+API+Specification+-+v3.1.1). We will update the documentation once we get support for it.
        International payments API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.

        >International payments API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.
  "/international-payment-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Payment Consents
      operationId: GetInternationalPaymentConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  "/international-payment-consents/{ConsentId}/funds-confirmation":
    get:
      tags:
        - Payment Initiation
      summary: Get International Payment Consents Funds Confirmation
      operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint allows checking funds for the given consent. This endpoint returns successfully only if the user has authorized the related consent.
  /international-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create International Payments
      operationId: CreateInternationalPayments
      parameters:
        - $ref: "#/parameters/OBWriteInternational2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalPaymentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/international-payments/{InternationalPaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Payments
      operationId: GetInternationalPaymentsInternationalPaymentId
      parameters:
        - $ref: "#/parameters/InternationalPaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalPaymentsInternationalPaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns a state of a payment.
  /international-scheduled-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create International Scheduled Payment Consents
      operationId: CreateInternationalScheduledPaymentConsents
      parameters:
        - $ref: "#/parameters/OBWriteInternationalScheduledConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalScheduledPaymentConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating scheduled payment consent as described in Open Banking API documentation. International Scheduled Payments are used for international SWIFT payments in all currencies supported by Revolut.

        Only payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. However, we allow users to change which account they want to be charged in consent authorization UI. Even if it is in a different currency. In case the user doesn't have enough funds on the selected account, the consent authorisation will be rejected.

        As part of the API requirement, you must pass the `x-jws-signature` header in your request. The signature must be generated from a request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        `Scheduled payments API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.`
  "/international-scheduled-payment-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Scheduled Payment Consents
      operationId: GetInternationalScheduledPaymentConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalScheduledPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  "/international-scheduled-payment-consents/{ConsentId}/funds-confirmation":
    get:
      tags:
        - Payment Initiation
      summary: Get International Scheduled Payment Consents Funds Confirmation
      operationId: GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint allows checking funds for the given consent. This endpoint returns successfully only if user has authorized the related consent.
  /international-scheduled-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create International Scheduled Payments
      operationId: CreateInternationalScheduledPayments
      parameters:
        - $ref: "#/parameters/OBWriteInternationalScheduled2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalScheduledPaymentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/international-scheduled-payments/{InternationalScheduledPaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Scheduled Payments
      operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentId
      parameters:
        - $ref: "#/parameters/InternationalScheduledPaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns state of a scheduled payment.
  /international-standing-order-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create International Standing Order Consents
      operationId: CreateInternationalStandingOrderConsents
      parameters:
        - $ref: "#/parameters/OBWriteInternationalStandingOrderConsent2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalStandingOrderConsentsCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint is for creating standing order consent as described in Open Banking API documentation. International Standing Orders are used for international SWIFT payments in all currencies supported by Revolut.

        Only payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. However, we allow users to change which account they want to be charged in consent authorization UI. Even if it is in a different currency. In case the user doesn't have enough funds on the selected account, the consent authorisation will be rejected.

        As part of the API requirement, you must pass the `x-jws-signature` header in your request. The signature must be generated from a request body with the TPP signing key that is specified in the JWS header. As specified in the documentation, you must only pass `head` and `signature` in `<jws_head>..<jws_signature>` format.

        We support only the following types of standing orders frequency:

        |  FREQUENCY |  EXAMPLE | DETAILS  |
        |---|---|---|
        |  EvryDay | EvryDay  | daily, supported only for personal accounts  |
        | IntrvlWkDay  | IntrvlWkDay:01:03  | weekly on a specified week day, only 1 week intervals are supported  |
        | IntrvlWkDay  | IntrvlMnthDay:01:03  |  monthly on a specified day of month, only 1 month intervals are supported |

        >Standing orders API is currently in Beta stage - some elements of the UI might not fully visualise the consent data.
  "/international-standing-order-consents/{ConsentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Standing Order Consents
      operationId: GetInternationalStandingOrderConsentsConsentId
      parameters:
        - $ref: "#/parameters/ConsentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalStandingOrderConsentsConsentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        This endpoint returns consent details as it is described in the official documentation.
  /international-standing-orders:
    post:
      tags:
        - Payment Initiation
      summary: Create International Standing Orders
      operationId: CreateInternationalStandingOrders
      parameters:
        - $ref: "#/parameters/OBWriteInternationalStandingOrder2Param"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-idempotency-key"
        - $ref: "#/parameters/x-jws-signature-Param"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "201":
          $ref: "#/responses/201InternationalStandingOrdersCreated"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "415":
          $ref: "#/responses/415ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: |
        As it is defined in the Open Banking Specifications, `/Data/Initiation` and `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  "/international-standing-orders/{InternationalStandingOrderPaymentId}":
    get:
      tags:
        - Payment Initiation
      summary: Get International Standing Orders
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
      parameters:
        - $ref: "#/parameters/InternationalStandingOrderPaymentId"
        - $ref: "#/parameters/x-fapi-financial-id-Param"
        - $ref: "#/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: "#/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "401":
          $ref: "#/responses/401ErrorResponse"
        "403":
          $ref: "#/responses/403ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "405":
          $ref: "#/responses/405ErrorResponse"
        "406":
          $ref: "#/responses/406ErrorResponse"
        "429":
          $ref: "#/responses/429ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      security: []
      description: This endpoint returns state of a standing order.
  /draft-payments:
    post:
      consumes:
        - text/csv
      produces:
        - application/json
      parameters:
        - description: All transfers in csv will be created as a scheduled payment with this date as execution date
          format: YYYY-MM-DD
          in: query
          name: scheduledDate
          required: false
          type: string
        - description: "For details information of csv schema please refer to https://developer.revolut.com/docs"
          in: body
          name: body
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Draft Payment Details
          schema:
            $ref: "#/definitions/DraftPaymentResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security: []
      tags:
        - Draft Payments
      description: |
        Once you have gained an access token using our [draft payments authorisation guide](https://developer.revolut.com/docs/open-banking-api/#api-references-draft-payments), you can use the `/draft_payments` endpoint to create a draft payment on behalf of the customer. A draft payment will appear on their account, where they can approve or reject the draft payment.

        You can use the same `/draft_payments` endpoint to make multiple draft payments by using new rows for new draft payments. For every draft payment request you make, you will have to make sure that they are using the same currency. On a successful request with multiple draft payments, you will recieve one `DraftPaymentID` that will represent all the draft payments associated with your request.

        **Parameters**

        |NAME |LOCATED IN| DESCRIPTION | REQUIRED|
        |--|--|--|--|
        | scheduledDate | query |All transfers in csv will be created as a scheduled payment with this date as the execution date| No|

        **CSV Format**

        |FIELD |REQUIRED|DESCRIPTION|
        |---|---|---|
        |Name|Yes|Can contain up to 80 characters. If INDIVIDUAL recipient type is provided this field must contain first and last name separated by white space|
        |Recipient type|Yes| Can be either INDIVIDUAL or COMPANY|
        |Account number |For UK transfers| Must contain valid account number if provided|
        |Sort code or Routing number| For UK transfers| Must contain valid sort code or routing number if provided|
        |IBAN |For SEPA transfers| Must contain valid IBAN if provided|
        |BIC |For SEPA transfers| Must contain valid BIC if provided|
        |Recipient bank country |Yes| Must contain valid ISO 3166-1 country code|
        |Currency| Yes |Must contain valid ISO 4217 currency code|
        |Amount |Yes| Must match following pattern [0-9]*(\\\\.[0-9]*)?|
        |Payment reference |Yes| Can contain up to 100 characters|
        |Recipient country |No |Must contain valid ISO 3166-1 country code if provided|
        |State or province| No| Can contain up to 50 characters|
        |Address line 1 |No| Can contain up to 50 characters|
        |Address line 2| No |Can contain up to 50 characters|
        |City |No| Can contain up to 50 characters|
        |Postal code |No| Can contain up to 50 characters|
      operationId: createDraftPayment
      summary: Create Draft Payment
  "/draft-payments/{DraftPaymentId}":
    delete:
      produces:
        - application/json
      parameters:
        - description: The id of the draft payment
          format: UUID
          in: path
          name: DraftPaymentId
          required: true
          type: string
      responses:
        "204":
          description: No content
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security: []
      tags:
        - Draft Payments
      description: |
        A `DELETE` request for a specific `DraftPaymentId` can be used to delete that draft payment. A draft payment can only be deleted if the user hasn't committed any actions with it (approved, executed, etc.).
      operationId: deleteDraftPayment
      summary: Draft Payment Details
    get:
      produces:
        - application/json
      parameters:
        - description: The id of the draft payment
          format: UUID
          in: path
          name: DraftPaymentId
          required: true
          type: string
      responses:
        "200":
          description: Draft Payment Details
          schema:
            $ref: "#/definitions/DraftPaymentTransferResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security: []
      tags:
        - Draft Payments
      description: |
        By supplying a `DraftPaymentID`, you can request details related to a specific draft payment that has been created.
      operationId: findDraftPayment
      summary: Draft Payment Details
  /expenses:
    get:
      produces:
        - application/json
      parameters:
        - description: All expenses created after this point in time will be returned (by default creation date of first expense)
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: All expenses created up untill this point in time will be returned (default is now)
          format: date-time
          in: query
          name: to
          required: false
          type: string
      responses:
        "200":
          description: List of business expenses
          schema:
            $ref: "#/definitions/ExpensesResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security:
        - AccessToken:
            - read
      tags:
        - Expenses
      description: |
        List all expenses related to the account with the option to specify a beginning and ending date using a dateTime format
      operationId: findExpenses
      summary: List all expenses
  "/transactions/{TransactionId}/receipt/{ReceiptId}":
    get:
      produces:
        - image/png
        - image/jpeg
        - image/gif
        - application/pdf
        - application/json
      parameters:
        - description: "The id of the transaction for which {ReceiptId} should be retrieved"
          format: UUID
          in: path
          name: TransactionId
          required: true
          type: string
        - description: Id of a receipt
          in: path
          name: ReceiptId
          required: true
          type: string
      responses:
        "200":
          description: Receipt
          schema:
            $ref: "#/definitions/Receipt"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security:
        - AccessToken:
            - read
      tags:
        - Expenses
      description: |
        The `transactions` endpoint allows you to fetch the actual reciept tied to a transaction and receipt ID
      operationId: getReceipt
      summary: Info for a specific receipt
parameters:
  FromBookingDateTimeParam:
    in: query
    name: fromBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions FROM
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  ToBookingDateTimeParam:
    in: query
    name: toBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions TO
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  FromStatementDateTimeParam:
    in: query
    name: fromStatementDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter statements FROM
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  ToStatementDateTimeParam:
    in: query
    name: toStatementDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter statements TO
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  x-fapi-financial-id-Param:
    in: header
    name: x-fapi-financial-id
    type: string
    required: true
    description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
  x-fapi-customer-ip-address-Param:
    in: header
    name: x-fapi-customer-ip-address
    type: string
    required: false
    description: The PSU's IP address if the PSU is currently logged in with the TPP.
  x-fapi-interaction-id-Param:
    in: header
    name: x-fapi-interaction-id
    type: string
    required: false
    description: An RFC4122 UID used as a correlation id.
  x-fapi-customer-last-logged-time-Param:
    in: header
    name: x-fapi-customer-last-logged-time
    type: string
    required: false
    description: |-
      The time when the PSU last logged in with the TPP.
      All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:
      Sun, 10 Sep 2017 19:43:31 UTC
    pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
  AuthorizationParam:
    in: header
    name: Authorization
    type: string
    required: true
    description: "An Authorisation Token as per https://tools.ietf.org/html/rfc6750"
  AccountId:
    name: AccountId
    in: path
    description: AccountId
    required: true
    type: string
  OBReadConsent1Param:
    name: OBReadConsent1Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBReadConsent1"
  ConsentId:
    name: ConsentId
    in: path
    description: ConsentId
    required: true
    type: string
  StatementId:
    name: StatementId
    in: path
    description: StatementId
    required: true
    type: string
  x-customer-user-agent-Param:
    in: header
    name: x-customer-user-agent
    type: string
    description: Indicates the user-agent that the PSU is using.
    required: false
  x-idempotency-key:
    name: x-idempotency-key
    in: header
    description: Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.
    required: true
    type: string
    pattern: ^(?!\s)(.*)(\S)$
    maxLength: 40
  x-jws-signature-Param:
    in: header
    name: x-jws-signature
    type: string
    required: true
    description: A detached JWS signature of the body of the payload.
  OBWriteDomesticStandingOrderConsent2Param:
    name: OBWriteDomesticStandingOrderConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrderConsent2"
  OBWriteDomesticStandingOrder2Param:
    name: OBWriteDomesticStandingOrder2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrder2"
  DomesticStandingOrderId:
    name: DomesticStandingOrderId
    in: path
    description: DomesticStandingOrderId
    required: true
    type: string
  OBWriteDomesticConsent2Param:
    name: OBWriteDomesticConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomesticConsent2"
  OBWriteDomestic2Param:
    name: OBWriteDomestic2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomestic2"
  DomesticPaymentId:
    name: DomesticPaymentId
    in: path
    description: DomesticPaymentId
    required: true
    type: string
  OBWriteDomesticScheduledConsent2Param:
    name: OBWriteDomesticScheduledConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduledConsent2"
  OBWriteDomesticScheduled2Param:
    name: OBWriteDomesticScheduled2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduled2"
  DomesticScheduledPaymentId:
    name: DomesticScheduledPaymentId
    in: path
    description: DomesticScheduledPaymentId
    required: true
    type: string
  OBWriteInternationalStandingOrderConsent2Param:
    name: OBWriteInternationalStandingOrderConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrderConsent2"
  OBWriteInternationalStandingOrder2Param:
    name: OBWriteInternationalStandingOrder2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrder2"
  InternationalStandingOrderPaymentId:
    name: InternationalStandingOrderPaymentId
    in: path
    description: InternationalStandingOrderPaymentId
    required: true
    type: string
  OBWriteFileConsent2Param:
    name: OBWriteFileConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteFileConsent2"
  FileParam:
    name: FileParam
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/File"
  OBWriteFile2Param:
    name: OBWriteFile2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteFile2"
  FilePaymentId:
    name: FilePaymentId
    in: path
    description: FilePaymentId
    required: true
    type: string
  OBWriteInternationalConsent2Param:
    name: OBWriteInternationalConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternationalConsent2"
  OBWriteInternational2Param:
    name: OBWriteInternational2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternational2"
  InternationalPaymentId:
    name: InternationalPaymentId
    in: path
    description: InternationalPaymentId
    required: true
    type: string
  OBWriteInternationalScheduledConsent2Param:
    name: OBWriteInternationalScheduledConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternationalScheduledConsent2"
  OBWriteInternationalScheduled2Param:
    name: OBWriteInternationalScheduled2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: "#/definitions/OBWriteInternationalScheduled2"
  InternationalScheduledPaymentId:
    name: InternationalScheduledPaymentId
    in: path
    description: InternationalScheduledPaymentId
    required: true
    type: string
responses:
  201AccountAccessConsentsCreated:
    description: Account Access Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadConsentResponse1"
  200AccountAccessConsentsConsentIdRead:
    description: Account Access Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadConsentResponse1"
  204AccountAccessConsentsConsentIdDeleted:
    description: Account Access Consents Deleted
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
  200AccountsRead:
    description: Accounts Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadAccount3"
  200AccountsAccountIdRead:
    description: Accounts Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadAccount3"
  200AccountsAccountIdTransactionsRead:
    description: Transactions Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadTransaction4"
  200AccountsAccountIdDirectDebitsRead:
    description: Direct Debits Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadDirectDebit1"
  200AccountsAccountIdStandingOrdersRead:
    description: Standing Orders Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadStandingOrder4"
  200AccountsAccountIdBalancesRead:
    description: Balances Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadBalance1"
  200AccountsAccountIdBeneficiariesRead:
    description: Beneficiaries Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
    schema:
      $ref: "#/definitions/OBReadBeneficiary3"
  201DomesticStandingOrderConsentsCreated:
    description: Domestic Standing Order Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
  200DomesticStandingOrderConsentsConsentIdRead:
    description: Domestic Standing Order Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
  201DomesticStandingOrdersCreated:
    description: Domestic Standing Orders Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrderResponse2"
  200DomesticStandingOrdersDomesticStandingOrderIdRead:
    description: Domestic Standing Orders Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticStandingOrderResponse2"
  201DomesticPaymentConsentsCreated:
    description: Domestic Payment Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticConsentResponse2"
  200DomesticPaymentConsentsConsentIdRead:
    description: Domestic Payment Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticConsentResponse2"
  201DomesticPaymentsCreated:
    description: Domestic Payments Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticResponse2"
  200DomesticPaymentsDomesticPaymentIdRead:
    description: Domestic Payments Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticResponse2"
  201DomesticScheduledPaymentConsentsCreated:
    description: Domestic Scheduled Payment Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduledConsentResponse2"
  200DomesticScheduledPaymentConsentsConsentIdRead:
    description: Domestic Scheduled Payment Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduledConsentResponse2"
  201DomesticScheduledPaymentsCreated:
    description: Domestic Scheduled Payments Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduledResponse2"
  200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead:
    description: Domestic Scheduled Payments Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteDomesticScheduledResponse2"
  201InternationalStandingOrderConsentsCreated:
    description: International Standing Order Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrderConsentResponse2"
  200InternationalStandingOrderConsentsConsentIdRead:
    description: International Standing Order Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrderConsentResponse2"
  201InternationalStandingOrdersCreated:
    description: International Standing Orders Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrderResponse2"
  200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead:
    description: International Standing Orders Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteInternationalStandingOrderResponse2"
  201FilePaymentConsentsCreated:
    description: File Payment Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteFileConsentResponse2"
  200FilePaymentConsentsConsentIdFileCreated:
    description: File Payment Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
  200FilePaymentConsentsConsentIdRead:
    description: File Payment Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: "#/definitions/OBWriteFileConsentResponse2"
  200FilePaymentConsentsConsentIdFileRead:
    description: File Payment Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UID used as a correlation id.
      x-jws-signature:
        type: string
[...]
