swagger: '2.0'
info:
  title: Open Banking API
  description: |-
    The Revolut Open Banking API is the gateway for third-party providers to interact with Revolut customers and products. 

    You can take advantage of the Open Banking API to build your banking applications whether you are  
    - A regulated third party provider that wants to get account and transaction information of Revolut customers and initiate different types of payments, or 
    - An innovative service provider that is looking to seamlessly integrate Revolut functions into your own applications.

    To get started using the Open Banking API, check the [user guide](https://developer.revolut.com/docs/build-banking-apps/#get-started).
  version: v3.1.0
schemes:
  - https
host: oba.revolut.com
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
paths:
  /account-access-consents:
    post:
      summary: Create an account access consent
      operationId: CreateAccountAccessConsents
      parameters:
        - $ref: '#/parameters/OBReadConsent1Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201AccountAccessConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      tags:
        - Account and Transactions
      description: |
        Before you can access any data from a Revolut user, you must create an access consent to read data from the user's profile.

        **Note**: When you create an account access consent, you must include a specific permission that follows the rules in the table below; otherwise, you get a `400 Bad request` error.

        **Request Permissions**

        | PERMISSIONS | DEPENDENCIES |
        |--|--|
        | ReadAccountsBasic | None |
        | ReadAccountsDetail |None|
        | ReadBalances |None|
        | ReadBeneficiariesBasic |None|
        | ReadBeneficiariesDetail |None|
        | ReadDirectDebits |None|
        | ReadScheduledPaymentsBasic |None|
        | ReadScheduledPaymentsDetail |None|
        | ReadStandingOrdersBasic |None|
        | ReadStandingOrdersDetail |None|
        | ReadTransactionsBasic |None|
        | ReadTransactionsCredits |ReadTransactionsBasic OR ReadTransactionsDetail|
        |ReadTransactionsDebits |ReadTransactionsBasic OR ReadTransactionsDetail|
        | ReadTransactionsDetail | None |
  '/account-access-consents/{ConsentId}':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve an account access consent
      operationId: GetAccountAccessConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountAccessConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of the account access consent as described in the Open Banking [official documentation](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1).
    delete:
      tags:
        - Account and Transactions
      summary: Delete an account access consent
      operationId: DeleteAccountAccessConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '204':
          $ref: '#/responses/204AccountAccessConsentsConsentIdDeleted'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |-
        Use this endpoint to:

        - Reject a consent if it is in the `AwaitingAuthorisation` state or any error occurs while the consent is being authorised.
        - Revoke a consent if it is in the `Authorised` state.
  /accounts:
    get:
      tags:
        - Account and Transactions
      summary: Retrieve all accounts
      operationId: GetAccounts
      parameters:
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get a list of user accounts.
  '/accounts/{AccountId}':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve an account
      operationId: GetAccountsAccountId
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the information about a specific account by ID.
  '/accounts/{AccountId}/balances':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve an account balance
      operationId: GetAccountsAccountIdBalances
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdBalancesRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the balance of an account.
  '/accounts/{AccountId}/beneficiaries':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve all account's beneficiaries
      operationId: GetAccountsAccountIdBeneficiaries
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdBeneficiariesRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get all the beneficiaries of a specific user account.
  '/accounts/{AccountId}/direct-debits':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve all account's direct debits
      operationId: GetAccountsAccountIdDirectDebits
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdDirectDebitsRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get a list of all the direct debits for a specific user account.
  '/accounts/{AccountId}/standing-orders':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve all account's standing orders
      operationId: GetAccountsAccountIdStandingOrders
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdStandingOrdersRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get a list of all the standing orders for a specific user account.
  '/accounts/{AccountId}/transactions':
    get:
      tags:
        - Account and Transactions
      summary: Retrieve all transactions
      operationId: GetAccountsAccountIdTransactions
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/FromBookingDateTimeParam'
        - $ref: '#/parameters/ToBookingDateTimeParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdTransactionsRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get all the recent transactions for an account.

        >To be compliant with PSD2 SCA regulations, we only allow access to the last 90 days’ transactions. However, you can access older transactions within the first 5 minutes of an account access token being authorized. This means that within the first 5 minutes of a Revolut user authenticating your request, you can request data older than 90 days. After the 5 minute mark, the access to the transaction data is automatically restricted only to the last 90 days.
  /domestic-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic payment consent
      operationId: CreateDomesticPaymentConsents
      parameters:
        - $ref: '#/parameters/OBWriteDomesticConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticPaymentConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a domestic payment consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use domestic payments for local payments in the local currency of the user. 

        > **Note**: Revolut supports only GBP as local in the UK and EUR in Single Euro Payments Area (SEPA) countries.

        Because Revolut Business users can have multiple accounts in the same currency, they can choose which account to be charged in the consent authorization UI. 

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.

        > **Note**: Currently, the `EndToEndIdentification` field isn't supported.
  '/domestic-payment-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic payment consent
      operationId: GetDomesticPaymentConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of a domestic payment consent.
  '/domestic-payment-consents/{ConsentId}/funds-confirmation':
    get:
      tags:
        - Payment Initiation
      summary: Get funds confirmation for a domestic payment consent
      operationId: GetDomesticPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Check the funds for a domestic payment with the given consent. You can get the information only if the user has authorized the related consent.
  /domestic-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic payment
      operationId: CreateDomesticPayments
      parameters:
        - $ref: '#/parameters/OBWriteDomestic2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticPaymentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a domestic payment. 

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/domestic-payments/{DomesticPaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic payment
      operationId: GetDomesticPaymentsDomesticPaymentId
      parameters:
        - $ref: '#/parameters/DomesticPaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticPaymentsDomesticPaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of a domestic payment.
  /domestic-scheduled-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic scheduled payment consent
      operationId: CreateDomesticScheduledPaymentConsents
      parameters:
        - $ref: '#/parameters/OBWriteDomesticScheduledConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticScheduledPaymentConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a scheduled payment consent as described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use domestic scheduled payments for local scheduled payments in the local currency of the user. 

        > **Note**: Revolut supports only GBP as local in the UK and EUR in SEPA countries.

        Because Revolut Business users can have multiple accounts in the same currency, they can select which account to be charged in the consent authorization UI. 

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.

        > **Note**: The domestic scheduled payments API is in beta.
  '/domestic-scheduled-payment-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic scheduled payment consent
      operationId: GetDomesticScheduledPaymentConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticScheduledPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of a domestic scheduled payment consent.
  /domestic-scheduled-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic scheduled payment
      operationId: CreateDomesticScheduledPayments
      parameters:
        - $ref: '#/parameters/OBWriteDomesticScheduled2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticScheduledPaymentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a domestic scheduled payment. 

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/domestic-scheduled-payments/{DomesticScheduledPaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic scheduled payment
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
      parameters:
        - $ref: '#/parameters/DomesticScheduledPaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of a domestic scheduled payment.
  /domestic-standing-order-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic standing order consent
      operationId: CreateDomesticStandingOrderConsents
      parameters:
        - $ref: '#/parameters/OBWriteDomesticStandingOrderConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticStandingOrderConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |-
        Create a domestic standing order consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use domestic standing orders for local recurring payments in the local currency of the user. 

        > **Note**: Revolut supports only GBP as local in the UK and EUR in Single Euro Payments Area (SEPA) countries.

        Because Revolut Business users can have multiple accounts in the same currency, they can choose which account to be charged in the consent authorization UI. 

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.


        The following types of standing orders frequency are supported:

        |  FREQUENCY |  EXAMPLE | DETAILS  |
        |---|---|---|
        |  `EvryDay` | EvryDay  | daily, supported only for personal accounts  |
        | `IntrvlWkDay`  | IntrvlWkDay:01:03  | weekly on a specified week day, only 1 week interval is supported  |
        | `IntrvlWkDay`  | IntrvlMnthDay:01:03  |  monthly on a specified day of month, only 1 month interval is supported |


        > **Note**: The standing orders API is in beta.
  '/domestic-standing-order-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic standing order consent
      operationId: GetDomesticStandingOrderConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticStandingOrderConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of a domestic standaring order consent.
  /domestic-standing-orders:
    post:
      tags:
        - Payment Initiation
      summary: Create a domestic standing order
      operationId: CreateDomesticStandingOrders
      parameters:
        - $ref: '#/parameters/OBWriteDomesticStandingOrder2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201DomesticStandingOrdersCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a domestic standing order.

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/domestic-standing-orders/{DomesticStandingOrderId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a domestic standing order
      operationId: GetDomesticStandingOrdersDomesticStandingOrderId
      parameters:
        - $ref: '#/parameters/DomesticStandingOrderId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of a domestic standing order.
  /file-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create a file payment consent
      operationId: CreateFilePaymentConsents
      parameters:
        - $ref: '#/parameters/OBWriteFileConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201FilePaymentConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |-
        Create a file payment consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        > **Note**: File Payments are available only for Revolut Business users. Currently only the `text/csv` file type is supported for File Payments.

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.


        > **Note**: The file payments API is in beta.
  '/file-payment-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a file payment consent
      operationId: GetFilePaymentConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200FilePaymentConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of a file payment consent.
  '/file-payment-consents/{ConsentId}/file':
    post:
      tags:
        - Payment Initiation
      summary: Upload a payment file
      operationId: CreateFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: '#/parameters/FileParam'
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      consumes:
        - '*/*'
      responses:
        '200':
          $ref: '#/responses/200FilePaymentConsentsConsentIdFileCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Use this endpoint to upload a file for the given file payment consent.

        > **Note**: Only CSV files with the following structure are supported.

        | FIELD | REQUIRED | DESCRIPTION |
        |---|---|---|
        |`Name`|Yes| Can contain up to 80 characters. If `recipient type` is `INDIVIDUAL`, this field must contain a first and a last name, separated by a space.|
        |`Recipient type` |Yes| Can be either `INDIVIDUAL` or `COMPANY`.|
        |`Account number` |For UK transfers| Must contain valid account number if provided.|
        |`Sort code` or `Routing number`| For UK transfers| Must contain valid sort code or routing number if provided.|
        |`IBAN` |For SEPA transfers| Must contain valid IBAN if provided.|
        |`BIC` |For SEPA transfers| Must contain valid BIC if provided.|
        |`Recipient bank country` |Yes| Must contain valid ISO 3166-1 country code.|
        |`Currency`| Yes |Must contain valid ISO 4217 currency code.|
        |`Amount` |Yes| Must match following pattern `[0-9]*(\\\\.[0-9]*)?`.|
        |`Payment reference` |Yes| Can contain up to 100 characters.|
        |`Recipient country` |No |Must contain valid ISO 3166-1 country code if provided.|
        |`State or province`| No| Can contain up to 50 characters.|
        |`Address line 1` |No| Can contain up to 50 characters.|
        |`Address line 2` | No |Can contain up to 50 characters.|
        |`City` |No| Can contain up to 50 characters.|
        |`Postal code` |No| Can contain up to 50 characters.|
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an uploaded payment file
      operationId: GetFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      produces:
        - '*/*'
      responses:
        '200':
          $ref: '#/responses/200FilePaymentConsentsConsentIdFileRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the payment file that was uploaded with the given consent.
  /file-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create a file payment
      operationId: CreateFilePayments
      parameters:
        - $ref: '#/parameters/OBWriteFile2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201FilePaymentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create a file payment. 

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/file-payments/{FilePaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve a file payment
      operationId: GetFilePaymentsFilePaymentId
      parameters:
        - $ref: '#/parameters/FilePaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200FilePaymentsFilePaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: Get the state of a file payment.
  '/file-payments/{FilePaymentId}/report-file':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve all payments of a file payment
      operationId: GetFilePaymentsFilePaymentIdReportFile
      parameters:
        - $ref: '#/parameters/FilePaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      produces:
        - '*/*'
      responses:
        '200':
          $ref: '#/responses/200FilePaymentsFilePaymentIdReportFileRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of all individual payments for the given file payment. 

        > **Note**: Currently only the `JSON` format is supported.
  /international-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create an international payment consent
      operationId: CreateInternationalPaymentConsents
      parameters:
        - $ref: '#/parameters/OBWriteInternationalConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalPaymentConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create an international payment consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use international payments for international SWIFT payments in all currencies supported by Revolut.

        > **Note**: Only the payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. 

        However, users can select which account to be charged in the consent authorization UI even if the selected account is in a different currency. 

        In such a case, the `ExchangeRateInformation` response field contains information about the `ExchangeRate` between `SourceCurrency` and `CurrencyOfTransfer`. If the user doesn't have enough funds on the selected account, the consent authorization is rejected.

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.

        > **Note**: Currently, the `EndToEndIdentification` field isn't supported. 
        > The international payments API is in beta.
  '/international-payment-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international payment consent
      operationId: GetInternationalPaymentConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: Get the details of an international payment consent.
  '/international-payment-consents/{ConsentId}/funds-confirmation':
    get:
      tags:
        - Payment Initiation
      summary: Get funds confirmation for an international payment consent
      operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Check the funds for an international payment with the given consent. You can get the information only if the user has authorized the related consent.
  /international-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create an international payment
      operationId: CreateInternationalPayments
      parameters:
        - $ref: '#/parameters/OBWriteInternational2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalPaymentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create an international payment. 

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/international-payments/{InternationalPaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international payment
      operationId: GetInternationalPaymentsInternationalPaymentId
      parameters:
        - $ref: '#/parameters/InternationalPaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalPaymentsInternationalPaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of an international payment.
  /international-scheduled-payment-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create an international scheduled payment consent
      operationId: CreateInternationalScheduledPaymentConsents
      parameters:
        - $ref: '#/parameters/OBWriteInternationalScheduledConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalScheduledPaymentConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create an international scheduled payment consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use international scheduled payments for international SWIFT payments in all currencies supported by Revolut.

        > **Note**: Only the payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. 

        However, users can select which account to be charged in the consent authorization UI even if the selected account is in a different currency. 

        In such a case, the `ExchangeRateInformation` response field contains information about the `ExchangeRate` between `SourceCurrency` and `CurrencyOfTransfer`. If the user doesn't have enough funds on the selected account, the consent authorization is rejected.

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.

        > **Note**: The international scheduled payments API is in beta.
  '/international-scheduled-payment-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international scheduled payment consent
      operationId: GetInternationalScheduledPaymentConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalScheduledPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of an international scheduled payment consent.
  '/international-scheduled-payment-consents/{ConsentId}/funds-confirmation':
    get:
      tags:
        - Payment Initiation
      summary: Get funds confirmation for an international scheduled payment
      operationId: GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: Check the funds for an international scheduled payment with the given consent. You can get the information only if the user has authorized the related consent.
  /international-scheduled-payments:
    post:
      tags:
        - Payment Initiation
      summary: Create an international scheduled payment
      operationId: CreateInternationalScheduledPayments
      parameters:
        - $ref: '#/parameters/OBWriteInternationalScheduled2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalScheduledPaymentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |-
        Create an international scheduled payment.

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/international-scheduled-payments/{InternationalScheduledPaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international scheduled payment
      operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentId
      parameters:
        - $ref: '#/parameters/InternationalScheduledPaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the state of an international scheduled payment.
  /international-standing-order-consents:
    post:
      tags:
        - Payment Initiation
      summary: Create an international standing order consent
      operationId: CreateInternationalStandingOrderConsents
      parameters:
        - $ref: '#/parameters/OBWriteInternationalStandingOrderConsent2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalStandingOrderConsentsCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |-
        Creating an international standing order consent described in the [Open Banking API documentation: Account and Transaction API Specification](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1). 

        Use international standing orders for international SWIFT payments in all currencies supported by Revolut.

        > **Note**: Only the payments with `InstructedAmount` in the same currency as `CurrencyOfTransfer` are supported. 

        However, users can select which account to be charged in the consent authorization UI even if the selected account is in a different currency. 

        In such a case, the `ExchangeRateInformation` response field contains information about the `ExchangeRate` between `SourceCurrency` and `CurrencyOfTransfer`. If the user doesn't have enough funds on the selected account, the consent authorization is rejected.

        When you make the API call, ensure that you:
        - Pass the `x-jws-signature` header in your request. The signature is generated from the request body with the TPP signing key that is specified in the JWS header. 
        - Pass `head` and `signature` in the `<jws_head>..<jws_signature>` format.

        > **Note**: Only the following types of standing orders frequency are supported:

        |  FREQUENCY |  EXAMPLE | DETAILS  |
        |---|---|---|
        |  EvryDay | EvryDay  | daily, supported only for personal accounts  |
        | IntrvlWkDay  | IntrvlWkDay:01:03  | weekly on a specified week day, only 1 week interval is supported  |
        | IntrvlWkDay  | IntrvlMnthDay:01:03  |  monthly on a specified day of month, only 1 month interval is supported |

        > **Note**: The international standing orders API is in beta stage.
  '/international-standing-order-consents/{ConsentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international standing order consent
      operationId: GetInternationalStandingOrderConsentsConsentId
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalStandingOrderConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Get the details of an international standing order consent.
  /international-standing-orders:
    post:
      tags:
        - Payment Initiation
      summary: Create an international standing order
      operationId: CreateInternationalStandingOrders
      parameters:
        - $ref: '#/parameters/OBWriteInternationalStandingOrder2Param'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-idempotency-key'
        - $ref: '#/parameters/x-jws-signature-Param'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/responses/201InternationalStandingOrdersCreated'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '415':
          $ref: '#/responses/415ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: |
        Create an international standing order.

        > **Note**: As is defined in the Open Banking Specifications, the `/Data/Initiation` and the `/Data/Risk` sections of the request must be an exact match for the related consent passed in `ConsentId`.
  '/international-standing-orders/{InternationalStandingOrderPaymentId}':
    get:
      tags:
        - Payment Initiation
      summary: Retrieve an international standing order
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
      parameters:
        - $ref: '#/parameters/InternationalStandingOrderPaymentId'
        - $ref: '#/parameters/x-fapi-financial-id-Param'
        - $ref: '#/parameters/x-fapi-customer-last-logged-time-Param'
        - $ref: '#/parameters/x-fapi-customer-ip-address-Param'
        - $ref: '#/parameters/x-fapi-interaction-id-Param'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '401':
          $ref: '#/responses/401ErrorResponse'
        '403':
          $ref: '#/responses/403ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '405':
          $ref: '#/responses/405ErrorResponse'
        '406':
          $ref: '#/responses/406ErrorResponse'
        '429':
          $ref: '#/responses/429ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      security: []
      description: Get the state of an international standing order.
  /draft-payments:
    post:
      consumes:
        - text/csv
      produces:
        - application/json
      parameters:
        - description: |-
            The date and time the draft payment is executed. 

            **Note**: Any draft payment in the CSV file is created as a scheduled payment.
          format: YYYY-MM-DD
          in: query
          name: scheduledDate
          required: false
          type: string
        - description: Idempotency key in UUID format.
          format: UUID
          in: header
          name: x-idempotency-key
          required: true
          type: string
        - description: 'For the format of the CSV file, check the tables above.'
          in: body
          name: body
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Draft Payment Details
          schema:
            $ref: '#/definitions/DraftPaymentResponse'
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/CsvError"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/Error"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/Error"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security: []
      tags:
        - Draft Payments
      description: |
        Before you begin, ensure that you've got an access token. For information about getting the access token, see [Tutorial: Create your first draft payment](https://developer.revolut.com/docs/build-banking-apps/#tutorials-tutorials-create-your-first-draft-payment-1-get-authorisation-from-user). Then, you can use the `/draft_payments` endpoint to create a draft payment on behalf of a user, and the draft payment appears in the user account where they can approve or reject. 

        In addition, you can use this endpoint to make multiple draft payments by creating new rows for new drafts with the supported CSV format shown in the following tables. 

        For each draft payment request you make, ensure that the same currency is used. Upon a successful request for multiple draft payments, you recieve a `DraftPaymentID` that represents all the draft payments associated with this request.

        Please note that the maximum number of rows in a CSV file is 50 and all the payments must be in the same currency.

        **Parameters**

        |NAME |LOCATED IN| DESCRIPTION | REQUIRED|
        |--|--|--|--|
        | `scheduledDate` | query |The date and time the draft payment is executed. Any draft payment in the CSV file is created as a scheduled payment.| No|

        **CSV Format**

        |FIELD |REQUIRED|DESCRIPTION|
        |---|---|---|
        |`Name`|Yes|Can contain up to 80 characters. If `recipient type` is `INDIVIDUAL`, this field must contain a first and a last name, separated by a space.|
        |`Recipient type`|Yes| Can be either `INDIVIDUAL` or `COMPANY`.|
        |`Account number` |For non-IBAN accounts| Must contain a valid account number if provided.|
        |`Sort code` or `Routing number`| For UK/US local transfers| Must contain a valid sort code or routing number if provided.|
        |`IBAN` |For IBAN accounts| Must contain a valid IBAN if provided.|
        |`BIC` |All the countries except for UK/US local| Must contain a valid BIC if provided.|
        |`Recipient bank country` |Yes| Must contain a valid ISO 3166-1 country code.|
        |`Currency`| Yes |Must contain a valid ISO 4217 currency code.|
        |`Amount` |Yes| Match the pattern: `[0-9]*(\\.[0-9]*)?`|
        |`Payment reference` |Yes| Can contain up to 100 characters.|
        |`Recipient country` |No |Must contain a valid ISO 3166-1 country code if provided.|
        |`State or province`| No| Can contain up to 50 characters.|
        |`Address line 1` |No| Can contain up to 50 characters.|
        |`Address line 2`| No |Can contain up to 50 characters.|
        |`City` |No| Can contain up to 50 characters.|
        |`Postal code` |No| Can contain up to 50 characters.|
      operationId: createDraftPayment
      summary: Create a draft payment
    get:
      produces:
        - application/json
      parameters:
        - description: Creation time inclusive lower bound
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: Creation time exclusive upper bound
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - description: Maximum number of items
          format: int32
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Draft Payment List
          schema:
            $ref: '#/definitions/DraftPaymentListResponse'
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/Error"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security: []
      tags:
        - Draft Payments
      description: |
        Get draft payments list sorted by creation time in descending order.
      operationId: listDraftPayment
      summary: List draft payments
  '/draft-payments/{DraftPaymentId}/transfers/{DraftPaymentTransferId}':
    delete:
      produces:
        - application/json
      parameters:
        - description: The id of the draft payment
          format: UUID
          in: path
          name: DraftPaymentId
          required: true
          type: string
        - description: The id of the draft payment transfer
          format: UUID
          in: path
          name: DraftPaymentTransferId
          required: true
          type: string
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/Error"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/Error"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/Error"
        '422':
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security: [ ]
      tags:
        - Draft Payments
      description: |
        Delete a specific draft payment transfer with the given draft payment transfer ID. A draft payment transfer can be deleted only if the user hasn't taken any action upon it, for example, approved or executed the draft payment.
      operationId: deleteDraftPaymentTransfer
      summary: Delete a draft payment transfer
  '/draft-payments/{DraftPaymentId}':
    delete:
      produces:
        - application/json
      parameters:
        - description: The ID of the draft payment.
          format: UUID
          in: path
          name: DraftPaymentId
          required: true
          type: string
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/Error"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/Error"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/Error"
        '422':
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security: []
      tags:
        - Draft Payments
      description: |
        Delete a specific draft payment with the given draft payment ID. A draft payment can be deleted only if the user hasn't taken any action upon it, for example, approved or executed the draft payment.
      operationId: deleteDraftPayment
      summary: Delete a draft payment
    get:
      produces:
        - application/json
      parameters:
        - description: The ID of the draft payment.
          format: UUID
          in: path
          name: DraftPaymentId
          required: true
          type: string
      responses:
        '200':
          description: Draft Payment Details
          schema:
            $ref: '#/definitions/DraftPaymentTransferResponse'
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/Error"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/Error"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security: []
      tags:
        - Draft Payments
      description: |
        Get the details about a specific draft payment with the given draft payment ID. 
      operationId: findDraftPayment
      summary: Retrieve a draft payment
  /webhooks:
    get:
      produces:
        - application/json
      responses:
        '200':
          description: List of webhooks
          schema:
            $ref: '#/definitions/WebhooksResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - AccessToken:
            - read
      tags:
        - Webhooks
      description: |
        Get the details of all the webhooks.
      operationId: findWebhooks
      summary: Retrieve all webhooks
  /webhooks/subscribe:
    post:
      produces:
        - application/json
      responses:
        '200':
          description: List of webhooks
          schema:
            $ref: '#/definitions/WebhooksResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - AccessToken:
            - read
      tags:
        - Webhooks
      description: |
        Create webhooks to receive real-time notifications for events that are happening in relation to your application.
      operationId: subscribe
      summary: Subscribe to receive notifications
  /webhooks/unsubscribe:
    post:
      produces:
        - application/json
      responses:
        '200':
          description: List of webhooks
          schema:
            $ref: '#/definitions/WebhooksResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - AccessToken:
            - read
      tags:
        - Webhooks
      description: |
        Unsubscribe to stop receiving notifications.
      operationId: unsubscribe
      summary: Unsubscribe from given topic
  /expenses:
    get:
      produces:
        - application/json
      parameters:
        - description: All the expenses created after this date and time are returned. The default value is the date and time the first expense was created.
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: All the expenses created till this date and time are returned. The default value is **Now**.
          format: date-time
          in: query
          name: to
          required: false
          type: string
      responses:
        '200':
          description: List of business expenses
          schema:
            $ref: '#/definitions/ExpensesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - AccessToken:
            - read
      tags:
        - Expenses
      description: |
        Get the details of all the expenses to an account that occur during the specified period.
      operationId: findExpenses
      summary: Retrieve all expenses
  '/transactions/{TransactionId}/receipt/{ReceiptId}':
    get:
      produces:
        - image/png
        - image/jpeg
        - image/gif
        - application/pdf
        - application/json
      parameters:
        - description: 'The ID of the transaction that `ReceiptId` is retrieved for.'
          format: UUID
          in: path
          name: TransactionId
          required: true
          type: string
        - description: The ID of the receipt.
          in: path
          name: ReceiptId
          required: true
          type: string
      responses:
        '200':
          description: Receipt
          schema:
            $ref: '#/definitions/Receipt'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - AccessToken:
            - read
      tags:
        - Expenses
      description: |
        Get the receipt tied to the transaction ID and the receipt ID. 
      operationId: getReceipt
      summary: Retrieve a receipt
parameters:
  FromBookingDateTimeParam:
    in: query
    name: fromBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions FROM
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  ToBookingDateTimeParam:
    in: query
    name: toBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions TO
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  FromStatementDateTimeParam:
    in: query
    name: fromStatementDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter statements FROM
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  ToStatementDateTimeParam:
    in: query
    name: toStatementDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter statements TO
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  x-fapi-financial-id-Param:
    in: header
    name: x-fapi-financial-id
    type: string
    required: true
    description: The unique ID of the ASPSP that the request is issued to. The ID of Revolut is `001580000103UAvAAM`.
  x-fapi-customer-ip-address-Param:
    in: header
    name: x-fapi-customer-ip-address
    type: string
    required: false
    description: The IP address of the PSU if the PSU is logged in with the TPP.
  x-fapi-interaction-id-Param:
    in: header
    name: x-fapi-interaction-id
    type: string
    required: false
    description: An RFC4122 UUID used as a correlation ID.
  x-fapi-customer-last-logged-time-Param:
    in: header
    name: x-fapi-customer-last-logged-time
    type: string
    required: false
    description: |-
      The date and time the PSU last logged in with the TPP.

      All dates in the HTTP headers are represented as RFC 7231 Full Dates. For example: Sun, 10 Sep 2017 19:43:31 UTC.
    pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
  AuthorizationParam:
    in: header
    name: Authorization
    type: string
    required: true
    description: 'The access token that you''ve generated. For more information, see [Generate an access token](https://developer.revolut.com/docs/build-banking-apps/#tutorials-get-account-and-transaction-information).'
  AccountId:
    name: AccountId
    in: path
    description: The ID of the account.
    required: true
    type: string
  OBReadConsent1Param:
    name: OBReadConsent1Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBReadConsent1'
  ConsentId:
    name: ConsentId
    in: path
    description: The ID of the account access consent.
    required: true
    type: string
  StatementId:
    name: StatementId
    in: path
    description: StatementId
    required: true
    type: string
  x-customer-user-agent-Param:
    in: header
    name: x-customer-user-agent
    type: string
    description: The user agent that the PSU is using.
    required: false
  x-idempotency-key:
    name: x-idempotency-key
    in: header
    description: Each request is processed only once per `x-idempotency-key`.  The idempotency key is valid for 24 hours.
    required: true
    type: string
    pattern: ^(?!\s)(.*)(\S)$
    maxLength: 40
  x-jws-signature-Param:
    in: header
    name: x-jws-signature
    type: string
    required: true
    description: A detached JWS signature of the body of the payload.
  OBWriteDomesticStandingOrderConsent2Param:
    name: OBWriteDomesticStandingOrderConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomesticStandingOrderConsent2'
  OBWriteDomesticStandingOrder2Param:
    name: OBWriteDomesticStandingOrder2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomesticStandingOrder2'
  DomesticStandingOrderId:
    name: DomesticStandingOrderId
    in: path
    description: The ID of the domestic standing order.
    required: true
    type: string
  OBWriteDomesticConsent2Param:
    name: OBWriteDomesticConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomesticConsent2'
  OBWriteDomestic2Param:
    name: OBWriteDomestic2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomestic2'
  DomesticPaymentId:
    name: DomesticPaymentId
    in: path
    description: The ID of the domestic payment.
    required: true
    type: string
  OBWriteDomesticScheduledConsent2Param:
    name: OBWriteDomesticScheduledConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomesticScheduledConsent2'
  OBWriteDomesticScheduled2Param:
    name: OBWriteDomesticScheduled2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteDomesticScheduled2'
  DomesticScheduledPaymentId:
    name: DomesticScheduledPaymentId
    in: path
    description: The ID of the domestic scheduled payment.
    required: true
    type: string
  OBWriteInternationalStandingOrderConsent2Param:
    name: OBWriteInternationalStandingOrderConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternationalStandingOrderConsent2'
  OBWriteInternationalStandingOrder2Param:
    name: OBWriteInternationalStandingOrder2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternationalStandingOrder2'
  InternationalStandingOrderPaymentId:
    name: InternationalStandingOrderPaymentId
    in: path
    description: The ID of the international standing order payment.
    required: true
    type: string
  OBWriteFileConsent2Param:
    name: OBWriteFileConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteFileConsent2'
  FileParam:
    name: FileParam
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/File'
  OBWriteFile2Param:
    name: OBWriteFile2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteFile2'
  FilePaymentId:
    name: FilePaymentId
    in: path
    description: The ID of the file payment.
    required: true
    type: string
  OBWriteInternationalConsent2Param:
    name: OBWriteInternationalConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternationalConsent2'
  OBWriteInternational2Param:
    name: OBWriteInternational2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternational2'
  InternationalPaymentId:
    name: InternationalPaymentId
    in: path
    description: The ID of the international payment.
    required: true
    type: string
  OBWriteInternationalScheduledConsent2Param:
    name: OBWriteInternationalScheduledConsent2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternationalScheduledConsent2'
  OBWriteInternationalScheduled2Param:
    name: OBWriteInternationalScheduled2Param
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/OBWriteInternationalScheduled2'
  InternationalScheduledPaymentId:
    name: InternationalScheduledPaymentId
    in: path
    description: The ID of the international schedule payment.
    required: true
    type: string
responses:
  201AccountAccessConsentsCreated:
    description: Account Access Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadConsentResponse1'
  200AccountAccessConsentsConsentIdRead:
    description: Account Access Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadConsentResponse1'
  204AccountAccessConsentsConsentIdDeleted:
    description: Account Access Consents Deleted
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
  200AccountsRead:
    description: Accounts Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadAccount3'
  200AccountsAccountIdRead:
    description: Accounts Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadAccount3'
  200AccountsAccountIdTransactionsRead:
    description: Transactions Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadTransaction4'
  200AccountsAccountIdDirectDebitsRead:
    description: Direct Debits Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadDirectDebit1'
  200AccountsAccountIdStandingOrdersRead:
    description: Standing Orders Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadStandingOrder4'
  200AccountsAccountIdBalancesRead:
    description: Balances Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadBalance1'
  200AccountsAccountIdBeneficiariesRead:
    description: Beneficiaries Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
    schema:
      $ref: '#/definitions/OBReadBeneficiary3'
  201DomesticStandingOrderConsentsCreated:
    description: Domestic Standing Order Consents Created
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
      $ref: '#/definitions/OBWriteDomesticStandingOrderConsentResponse2'
  200DomesticStandingOrderConsentsConsentIdRead:
    description: Domestic Standing Order Consents Read
    headers:
      x-fapi-interaction-id:
        type: string
        description: An RFC4122 UUID used as a correlation ID.
      x-jws-signature:
        type: string
        description: Header containing a detached JWS signature of the body of the payload.
    schema:
[...]
